# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# Project Specific
data/
outputs_tf/
logs/
output/
outputs/

# OS
.DS_Store
Thumbs.db
